@use '../utils' as u;

.footer {
    background-color: u.$color-grey-dark;
    color: u.$color-white;
    padding: 22px 0 22px 25px;

        &__title {
            font-family: u.$font-title;
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 16px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 7px;
            list-style: none;
        }

        &__link {
            @include u.font-text-medium;
            color: white;
            text-decoration: none;
        }

        &__img {
            padding-right: 10px;
        }
}