@use '../tools' as t;

.header {
    @include t.flex-center;
    background-color: t.$color-white;
    height: 63px;
}
.header__title {
    font-family: t.$font-title;
}

.location {
    @include t.flex-center;
    align-items: center;
    gap: 17px;
    background-color: t.$color-grey;
}

.location__text {
    font-family: t.$font-text;
}