@use '../utils' as u;

.location {
    @include u.flex-center;
    gap: 17px;
    background-color: u.$color-grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &__text {
            @include u.font-text-medium;
            margin: 15px 0 15px 0;
        }
}

.explore-restaurants {
    @include u.flex-column;
    align-items: center;
    padding: 39px 10px 57px 10px;
    gap: 18px;
    background-color: u.$color-grey-light;

        &__title {
            @include u.font-text-large;
            text-align: center;
        }

        &__text {
            @include u.font-text-small;
            text-align: center;
            font-size: 18px;
            margin-bottom: 27px;
        }
}

.operations {
    @include u.flex-column;
    gap: 25px;
    padding: 48px 20px 68px 20px;

        &__title {
            @include u.font-text-large;
        }

        &__step {
            display: flex;
            align-items: center;
            background: u.$color-grey-light;
            border-radius: 20px;
            height: 72px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            gap: 26px;
        }

        &__number {
            @include u.flex-center;
            position: relative;
            z-index: 1;
            left: -12px;
            background-color: u.$color-primary;
            color: u.$color-white;
            border-radius: 50px;
            width: 24px;
            height: 24px;
        }

        &__step-title {
            @include u.font-text-medium;
            font-size: 16px;
        }
}

.selection-restaurants {
    background-color: u.$color-grey-light;
    padding: 54px 18px 66px 17px;

        &__title {
            @include u.font-text-large;
            font-size: 24px;
            padding-bottom: 20px;
        }
}

.cards-list {
    @include u.flex-column;
    gap: 18px;
}

.card {
    text-decoration: none;
    color: u.$color-black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

        &__img-wrapper {
            position: relative;
        }

        &__img {
            width: 100%;
            height: 175px;
            object-fit: cover;
        }

        &__badge {
            @include u.font-text-medium;
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: u.$color-tertiary;
            color: u.$color-font;
            padding: 6px 12px;
            border-radius: 2px;
            font-size: 14px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            padding: 16px 25px 12px 13px;
        }

        &__title {
            @include u.font-text-large;
            font-size: 18px;
        }

        &__place {
            @include u.font-text-small;
            font-size: 17px;
        }
}