@use 'variables' as v;

// font text
@mixin font-text-small {
    font-family: v.$font-text;
    font-weight: 300;
}

@mixin font-text-medium {
    font-family: v.$font-text;
    font-weight: 500;
}

@mixin font-text-large {
    font-family: v.$font-text;
    font-weight: 700;
}

// flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

//divers
@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Media queries

@mixin tablet {
    @media (min-width: 768px) {@content;}
}

@mixin desktop {
    @media (min-width: 1024px) {@content;}
}

@mixin large {
    @media (min-width: 1280px) {@content;}
}

@mixin xlarge {
    @media (min-width: 1580px) {@content;}
}