// colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #EAEAEA;
$color-grey-light: #F6F6F6;
$color-grey-dark: #353535;
$color-font: #008766;

// Polices
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-sherif;